.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

body, div, html {
  margin: 0;
  padding: 0;
  border: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.jumbotron {
  background-image: url('../images/bg_1.jpg');
  padding: 70px 30px;
  background-repeat: no-repeat;
/*
  background-position: center;
*/
  background-size: cover;
  min-height: 672px;
  padding-top: 3rem;
  margin-bottom: 0;
}

.jumbotron .headlines {
  text-align: center;
}

.jumbotron h1 {
  font-family: "SourceSansProSemiBold", Helvetica, Arial, sans-serif;
}

.text-shadow {
  text-shadow: 0 1px 10px rgba(0,0,0,.5);
}

.jumbotron p.smaller-text {
  color: #dcd4cb;
  font-size: 12px;
  margin-top:20px;
}

@media (min-width: 768px) {
  .jumbotron p.smaller-text {
    font-size: 17px;
    margin-top:15px;
  }
}

header {
  margin-bottom: 7rem;
}

#logo {
  margin-top:-5px;
  width: 214px;
/*
  height: 60px;
*/
}

.less-padding-right {
  margin-right:-20px;
}

.less-margin-top {
  margin-top:-5px;
}

#warning-row {
  display:none;
}
/*
.warning-text {
  color:
}*/

#thankyou-form-group {
  display:none;
}

#services {
  background-color: #f3bc65;
}

.features-circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 0;
  margin-top: 30px;
  font-size: 35px;
  text-align: center;
  line-height: 96px;
  border: solid 2px #364347;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
}

.features-circle .features-icon {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  text-decoration: inherit;
  /* width: 1em; */
  margin-right: .2em;
  margin-top: 5px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  color: #364347;
}

#footer.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.services-container {
  margin: 40px 40px;
}