.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

body, div, html {
  margin: 0;
  padding: 0;
  border: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.jumbotron {
  background-image: url('../images/bg_1.jpg');
  padding: 70px 30px;
  background-repeat: no-repeat;
/*
  background-position: center;
*/
  background-size: cover;
  min-height: 672px;
  padding-top: 3rem;
}

.jumbotron .headlines {
  text-align: center;
}

.jumbotron h1 {
  font-family: "SourceSansProSemiBold", Helvetica, Arial, sans-serif;
}

.text-shadow {
  text-shadow: 0 1px 10px rgba(0,0,0,.5);
}

.jumbotron p.smaller-text {
  color: #dcd4cb;
  font-size: 12px;
  margin-top:20px;
}

@media (min-width: 768px) {
  .jumbotron p.smaller-text {
    font-size: 17px;
    margin-top:0px;
  }
}

header {
  margin-bottom: 7rem;
}

#logo {
  margin-top:-5px;
  width: 214px;
/*
  height: 60px;
*/
}

.less-padding-right {
  margin-right:-20px;
}

.less-margin-top {
  margin-top:-5px;
}